div #alert {
  border-radius: 5px;
  width:         10%;
  top:           -350px;
  margin:        0 auto;
  text-align:    center;
  position:      relative;
  padding:       10px 25px;
  border:        solid #000 3px;
}

.dack-theme:not(#alert) {
  opacity:          .3;
  background-image: none;
  background-color: rgba(0,0,0,0.75);
}