div #alert {
  border-radius: 5px;
  width:         10%;
  top:           -350px;
  margin:        0 auto;
  text-align:    center;
  position:      relative;
  padding:       10px 25px;
  border:        solid #000 3px;
  box-shadow:    5px 5px 10px #000;
}